{% extends "index.html" %}

{% block title %}
Django FrameWorks. Seminar2 HomeTask
{% endblock %}

{% block head %}

{% endblock %}


{% block hero %}
<section class="py-4 py-xl-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <h2 class="text-uppercase fw-bold mb-3">добро пожаловать!</h2>
                    <p class="mb-4">это домашняя работа по ФреймВорку Django! Семинар6. Админ-панель.
                        </p>
                        <a href="/admin/" class="btn btn-primary rounded-pill px-3 fs-4">Админка</a>
                </div>
                </div>
                
                    </p><a class="btn btn-primary fs-5 me-2 py-2 px-4" role="button" href="products">Товары</a><a class="btn btn-outline-primary fs-5 py-2 px-4" role="button" href="orders">Заказы</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}