{% extends 'order_base.html' %}

{% block title %}
Товары
{% endblock %}

{% block header %}
Товары
{% endblock %}

{% block content %}
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete Order #{{ order.id }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
{% endblock %}

{% block main_navi %}
<nav class="navbar navbar-expand-md bg-body py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-basket-fill">
                    <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z"></path>
                </svg></span><span>NoBrand</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Заказы&nbsp;</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="orders">Просмотр</a><a class="dropdown-item" href="order_create">Создать заказ</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Товары&nbsp;</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="products">Список товаров</a><a class="dropdown-item" href="product_create">Создать товар</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Клиенты&nbsp;</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="clients">Список клиентов</a><a class="dropdown-item" href="client_create">Создать клиента</a></div>
                </li>
            </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Button</a>
        </div>
    </div>
</nav>
{% endblock %}