{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock %}</title>
    {% block include %}{% endblock %}
   </head>

<body>
    <!-- Start: Navbar Right Links -->
    {% include 'menu.html' %}
<!-- End: Navbar Right Links -->
    <!-- Start: 2 Rows 1+2 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-break text-center text-primary">{% block header %}{% endblock %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form>{% block content %}{% endblock %}</form>
        </div>
    </div><!-- End: 2 Rows 1+2 Columns -->

    
    <footer class="text-center text-white bg-dark py-5 mt-4">
        {% include 'footer.html' %}
    </footer>   
</body>

</html>