{% extends 'product_base.html' %}



{% block title %}
Товары
{% endblock %}

{% block header %}
Товары
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card card-fixed-height">
                    <img class="card-img-top w-100 d-block" src="{{ product.image_url }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">{{ product.price }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}



