{% extends 'product_base.html' %}



{% block title %}
{{ product.name }} - Product Page | MyShop
{% endblock %}

{% block header %}
<div class="header-content">
    <h1>Product Details</h1>
    <p><a href="/products/">Back to all products</a></p>
</div>  
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-8 col-xl-12">
            <div class="card"><img class="card-img w-100 d-block" />
                <div class="card-img-overlay">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product_detail }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}