


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-break text-center text-primary">Heading</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-12">
            <div class="card"><img class="card-img w-100 d-block" />
                <div class="card-img-overlay">
                    <h4>Title</h4>
                    <p>Paragraph</p>
                </div>
            </div>
        </div>
    </div>
</div>